<div class="panel {{type}}">
    <div class="panel-body {{style}}">
        <div class="{{style}}">
            <div class="col-xs-3">
                <div class="col-xs-12 text-center">
<!--TODO
                    <g:form controller="myMessage" action="vote" method="post">
                        <g:hiddenField name="qId" value="${a.question.id}" />
                        <g:hiddenField name="mId" value="${a.id}" />
                        <g:hiddenField name="inc" value="1" />
                        <g:submitButton name="▲" class="btn btn-success btn-lg"/>
                    </g:form>
-->
                    <button name="▲" class="btn btn-success btn-lg"></button>
                </div>
                <div class="col-xs-12 text-center"><h2>{{message.value}}</h2></div>
                <div class="col-xs-12 text-center">
<!--TODO
                    <g:form controller="myMessage" action="vote" method="post">
                        <g:hiddenField name="qId" value="${a.question.id}" />
                        <g:hiddenField name="mId" value="${a.id}" />
                        <g:hiddenField name="inc" value="-1" />
                        <g:submitButton name="▼" class="btn btn-danger btn-lg"/>
                    </g:form>
      -->
                    <button name="▼" class="btn btn-danger btn-lg"></button>

                </div>
            </div>
            <div class="col-xs-9 text-justify">{{message.content}}</div>
            <span ng-if="SessionService.isLoggedIn()">
                <div class="col-xs-12"><br/></div>
                <div class="col-xs-12 text-justify coms"><a href="#" ng-click="addCom()">{{'message_addcom'}}</a></div>
            </span>
            <span ng-repeat="com in message.coms" ng-include="'/comMessage/displayCom'" ></span>
        </div>
    </div>
    <div class="panel-footer container-fluid">
        <div class="text-left col-xs-6">
            <a ng-if="SessionService.username==message.user.username" class="btn btn-default form-inline my-btn" href="/question/editmessage/{{message.id}}">{{"default_button_edit_label" | translate}}</a>
        </div>
        <div class="text-right col-xs-6">
            <img class="small-profil-image" src="{{message.user.profil.image != '0' ? message.user.profil.image : '/assets/images/user.png'}}" />
            <a href="/user/show/{{message.user.id}}">{{message.user.username}}</a>, {{message.date}}
        </div>

    </div>
</div>