<div class="panel panel-danger">
    <div class="panel-body answerStyle">
        <div class="answerStyle">
            <div class="col-xs-3">
                <div class="col-xs-12 text-center">
                    <button class="btn btn-success btn-lg" ng-click="vote(question.id,message.id,1)">▲</button>
                </div>
                <div class="col-xs-12 text-center"><h2>{{message.value}}</h2></div>
                <div class="col-xs-12 text-center">
                    <button class="btn btn-danger btn-lg" ng-click="vote(question.id,message.id,-1)">▼</button>
                </div>
            </div>
            <div class="col-xs-9 text-justify">{{message.content}}</div>
            <span ng-if="isLoggedIn()">
                <div class="col-xs-12"><br/></div>
                <div class="col-xs-12 text-justify coms"><input type="text" class="col-xs-8" ng-model="message.newcom"/><button class="col-xs-4" ng-click="addCom(message.newcom,message.id)">{{'message_addcom'|translate}}</button></div>
            </span>
            <span ng-repeat="com in message.coms" ng-include="'/question/displayCom'" ></span>
        </div>
    </div>
    <div class="panel-footer container-fluid">
        <div class="text-left col-xs-6">
            <a ng-if="getCurrentUser()==message.username" class="btn btn-default form-inline my-btn" href="/question/editmessage/{{message.id}}">{{"other_edit" | translate}}</a>
        </div>
        <div class="text-right col-xs-6">
            <img class="small-profil-image" src="{{message.userimage != '0' ? message.userimage : '/assets/images/user.png'}}" />
            <a href="/user/show/{{message.userid}}">{{message.username}}</a>, {{message.date}}
        </div>

    </div>
</div>