<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="TaskOverflowApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="TaskOverflowApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="TaskOverflowApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="TaskOverflowApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>TaskOverflow</title>
  <meta name="description" content="TaskOverflow-like">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>-->

  <!--<base href="/"/>-->
  <link rel="icon" href="assets/images/favicon.ico" type="image/x-ico" />

  <!-- Vendor: Bootstrap Stylesheets http://getbootstrap.com -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Our Website CSS Styles -->
  <link rel="stylesheet" href="assets/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="assets/stylesheets/grails.css">
  <link rel="stylesheet" href="assets/stylesheets/main.css">
  <link rel="stylesheet" href="assets/stylesheets/mobile.css">
  <link rel="stylesheet" href="assets/stylesheets/application.css">
  <link rel="stylesheet" href="assets/stylesheets/errors.css">
</head>
<body>

  <div class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/#">
          <i class="fa grails-icon">
            <img src="assets/images/favicon.png"/>
          </i> TaskOverflow
        </a>
      </div>
      <div class="navbar-collapse collapse" aria-expanded="false" style="height: 0.8px;">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/question" translate="home_nav_questions">error</a></li>
            <li><a href="/tag" translate="home_nav_tags">error</a></li>
            <li><a href="/badge" translate="home_nav_badges">error</a></li>
            <li><a href="/user" translate="home_nav_users">error</a></li>

            <li ng-if="!isLoggedIn()"><a href="/user/create" translate="home_nav_signin">error</a></li>
            <li ng-if="!isLoggedIn()"><a href="/login" translate="home_nav_login">error</a></li>

            <li ng-if="isLoggedIn()"><a href="/user/show">{{username}}</a></li>
            <li ng-if="isLoggedIn()"><a href="/logout" translate="home_nav_logout">error</a></li>
            <li ng-if="isLoggedIn()" class="gold"><a href="/question/create" translate="home_nav_ask">error</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div ng-view></div>

  <div class="footer" role="contentinfo"></div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="components/translate/angular-translate.min.js"></script>
  <script src="app.js"></script>
  <script type="text/javascript" src="components/jquery/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="components/bootstrap/bootstrap.js"></script>
  <script type="text/javascript" src="components/javascripts/application.js"></script>
  <script type="text/javascript" src="components/javascripts/angular-resource.min.js"></script>
  <script src="question/question.js"></script>
  <script src="badge/badge.js"></script>
  <script src="tag/tag.js"></script>
  <script src="user/user.js"></script>
  <script src="error/error.js"></script>
  <script src="components/security/session.js"></script>
  <script src="components/version/version.js"></script>
  <script src="components/version/version-directive.js"></script>
  <script src="components/version/interpolate-filter.js"></script>
</body>
</html>
