<div class="container-fluid">
    <section class="row">
        <h1 class="text-center page-title">{{user.username}} <a ng-if="isCurrentUser()" class="btn btn-default form-inline my-btn" href="/user/edit/{{user.profil.id}}">{{'other_edit'|translate}}</a>
            <a ng-if="hasRole('ROLE_ADMIN')" class="btn btn-default form-inline my-btn" ng-click="ban()">{{user.accountLocked==true?'message_unban':'message_ban'|translate}}</a>
        </h1>
        <div ng-include="'/user/displayProfile'" class="jumbotron col-xs-12"></div>
        <div class="row">
            <h1 class="col-sm-offset-2 page-title">{{'other_mysuccess'|translate}}</h1>
            <div class="col-xs-offset-1 col-xs-10">
                <div class="col-xs-12">
                    <div class="jumbotron badgeSize">
                        <div class="row">
                            <div class="text-center col-xs-12 page-title">
                                {{'other_reputation'|translate}}
                            </div>
                            <div class="col-xs-12">
                                <h2 class="text-center page-title">{{user.reputation}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <span ng-repeat="badge in user.badges" ng-include="'/badge/displaySimpleBadge'"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <h1 class="col-sm-offset-2 page-title">{{'other_myquestions'|translate}}</h1>
            <div class="col-xs-offset-1 col-xs-10">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center">{{'message_solved'|translate}}</th>
                        <th class="text-center">{{'message_value'|translate}}</th>
                        <th class="text-center">{{'message_question'|translate}}</th>
                        <th class="text-center">{{'message_date'|translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="question in user.questions.length < 10 ? user.questions : user.questions.slice(0,10)" ng-include="'/question/displayInlineSimpleQuestion'"></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <h1 class="col-sm-offset-2 page-title">{{'other_mymessages'|translate}}</h1>
            <div class="col-xs-offset-1 col-xs-10">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center">{{'message_value'|translate}}</th>
                        <th class="text-center">{{'message_content'|translate}}</th>
                        <th class="text-center">{{'message_date'|translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="message in user.messages.length < 10 ? user.messages : user.messages.slice(0,10)" ng-include="'/question/displayInlineMessage'"></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>